.composition{

    &__photo {
        width: 12%;
        margin: 2rem;
        transition: transform .3s;

        //box-shadow: 0 1.5rem 4rem rgba($color-black, .4);

        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            //box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
        }
    }

    // &:hover &__photo:not(:hover) {
    //     transform: scale(.95);
    // } 
}

